<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
    color: #ab1417;
    background-color: #f0f0f0;
}
.animation-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.animation {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 1s;
}
.visible {
    left: 0;
}
img {
    width: 600px;
    height: auto;
}
p {
    font-size: 1em;
    text-align: center;
}
</style>